<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="Wix Logo Maker and 3 more pages - Person 2 - Microsoft​ Edge 5_10_2023 1_15_51 PM (2).png" type="image/x-icon">
    <link rel="stylesheet" href="login.css">
    <title> Log_in page</title>
</head>
<body>
   <header>
    <div class="logo">
        <img src="wp7664831-game-development-wallpapers.jpg" alt="" style="width: 3px; height: 3px;">
    </div>
 <nav class="navigation">
       <a class="navi" href="homepage.html">Home</a>
       <a class="navi" href="about.html">About</a>
       <a class="navi" href="service.html">Service</a>
       <a class="navi" href="contact.html">Contact</a>
    <a class="login" href="login.page.html"><button class="login_popup"  >Login</button></a>
</nav>
    </header>
    <div class="wrapper" >
        <div class="form-box_login" style=".wrapper.active.form-box_login{
            transition: none;
            transform: translateX(400rem);}">
            <h2 style="margin-top:54px; margin-left: 100px;">Login</h2>
            <form action="#" style="margin-top:10px ; margin-left: 70px;">
                <div class="input-box" >
                    <span class="icon"></span>
                    <input type="email"required>
                    <label style="font-family: 'Courier New', Courier, monospace; font-weight: 600; color: aliceblue;">Email</label>
                </div>

                <div class="input-box">
                    <span class="icon"></span>
                    <input type="password"required>
                    <label style="font-family:   'Courier New', Courier, monospace; font-weight: 600; color: aliceblue;">Password</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">Remember me</label>
                    <a href="#" style="margin-left: 17px;">Forgot Password?</a>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="login-register" style="font-family: 'Courier New', Courier, monospace;">
                    <p style="font-family: 'Courier New', Courier, monospace;">Don't Have An Accont?<a href="#" class="register-link">Register</a></p>
                </div>
            </form>
        </div>
        <div class="form-box_login style="wrapper.active.form-box_register :transition: none; transform translatex(-400px)>
    </div>
    <script src="script.js"></script>
</body>
</html>