*{
    padding: 0%;
    margin: 0%;
    border: border-box;
}
body{
    overflow-x:hidden
}
section{
    background: url("wp7664566-game-development-wallpapers.jpg")center center/cover;
    width: 100%;
    height: 300px;
    border: px solid #000;
}
.h{
 margin-top: 120px;
 font-size: 110px;
 margin-left: 67px;
 color: aliceblue;
 font-family: Arial, Helvetica, sans-serif;
}
.navigation a.navi {
    font-family: cursive;
    position: relative;
    font-size: 1.0em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    width: 100%;
    left: 450px;
    justify-content: space-between;
    margin-right: 60px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.navigation a.navi::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 1px;
    transform-origin: rigth;
    transform: scalex(0);
    transition: transform .3s;
}
.navigation a.navi:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.navigation  a.login .login_popup{
    width: 100px;
    height: 30px;
    background:transparent;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.0em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 300;
    margin-left: 500px;
    transition: .5s;
}
.navigation  a.login .login_popup:hover{
    background: white;
    color: black;
}
.abouthome{
    width: 100%;
    height: 1600px;
    border: 1px solid #000;
    background-color: aliceblue;
}
.title  h3 {
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 556px;
    font-size: 30px;
    margin-top: 50px;
    color: #162534;
}
.ti {
    margin-left: 326px;
    color: #162534;
    margin-top: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.a{
   display:flex;
   margin-top: 56px;
}
.b{
    display: flex;
    margin-left: -5px;
    margin-right:-50px;
    margin-top: 100px;
}
.c{
    display: flex;
    margin-left: -5px;
    margin-right:-50px;
    margin-top: 15px;
}
.box1{
    width: 300px;
    height: 320px;
    border: 2px solid #162534;
    margin: 53px;
    border-radius: 24px;
    box-sizing: content-box;
}
.boximg1{
    width: 100px;
    height: 100px;
    margin-left: 95px;
    margin-top: 14px;

}
.box1 {
    text-decoration:none;
    color: #162534;
}
.box1:hover{
    box-shadow:2px 2px 20px #16253494;
    border-radius: 4px;
}
.button3 .btn3{
    width: 120px;
    height: 30px;
    color: #162534;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #162534;
    margin-left: 900px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5pc;
    transition: .2s;
}
.button3 .btn3:hover{
    background: #162534;
    color: #fff;
    box-shadow: 2px 0px 15px #162534;
}

footer{
    width:105%;
    height: 350px;
    border: px solid #000;
    background-color: #162534;
    margin-top: -200%;
    margin-bottom: -950px;
    margin-left: -64px;
}
footer  h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #fcf6f6;
    margin-left: 63px;
}
footer .Channel  a.soci p{
    font-weight: bold;
    font-size: large;
    color: #fff;
    margin-left: 34pc;
    margin-top:-25px;
    text-decoration:underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
footer .Channel  svg{
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 30pc;
    margin-bottom: -5px;
    margin-top: 25px;
    padding: 10px 0px;
    text-decoration: none;
    color: #fcf6f6;
}
footer .phone svg{
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 50pc;
    margin-bottom:41px;
    margin-top: 1pc;
    padding: 5px 0px;
    color: #ffffff;
}
footer .phone  a p{
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    margin-left: 54pc;
    margin-top: -17.8pc;
    text-decoration: underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer .links a {
    color: #fffafa;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 34pc;
    margin-bottom:228px;
    margin-top: -12pc;
    font-weight: lighter;
    padding: 1.7px 0px;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
footer .links a :hover{
    text-decoration: underline;
}
footer .links a :active{
    color: #000;
}
footer .phone a.telephone p{
 color: #000;
 margin-top:-60px ;
 font-size: 13px;
 text-decoration:none;
 color: #fff;
 font-weight: lighter;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer .copy{
    margin-left: 63pc;
    margin-top: 1pc;
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
}
